<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <h2>{{name}}</h2>
  <p>{{membar?.age}}</p>

</div>
<h2>Here are some links to help you start: </h2>

<input type="text" [(ngModel)]="hoge">
<span *ngIf="hoge==='1'">1が入力されました</span>

<input type="text" [(ngModel)]="hoge1" required>
<span *ngIf="hoge1==='1'">1が入力されました</span>


<table style="border: 1px solid;">
  <tr>
    <th [attr.rowspan]="len" style="border: 1px solid;">結合</th>
    <td style="border: 1px solid;">1</td>
  </tr>
  <tr>
    <td style="border: 1px solid;">2</td>
  </tr>
</table>